{% extends 'base.html' %}

{% block content %}
<h2>Say Anything To My Watchlist</h2>
<form method="post">
    Name<br>
    <input type="text" name="nickname" autocomplete="off" required><br>
    Messages<br>
    <input class="box_mes" type="textarea" name="message_content" autocomplete="off" required><br>
    <input class="mtn" type="submit" name="submit" value="Submit">
</form>
<h3>{{ messages|length }} Messages</h3>
<ul class="movie-list">
      {% for message in messages %}
      <li>
        <strong>{{ message.nickname }}</strong> # {{ message.id }}
        <span class="float-right">
        {{ message.create_time }}
        </span><br>
        {{ message.message_content }}<br><br>
      </li>
      {% endfor %}
</ul>
<img alt="Walking Totoro" class="totoro" src="{{ url_for('static',filename='images/totoro.gif') }}" title="to~to~ro">
{% endblock %}
