{% extends 'base.html' %}

{% block content %}
<h3>Settings</h3>
<form method="POST">
    <!-- required value="{{ current_user.name }}" 这句话的效果就是当我点击settings后，页面的填写处会出现旧的的name（即Admin） -->
    Your Name <input type="text" name="name" autocomplete="off" value="{{ current_user.name }} "  required >
         <input class="btn" type="submit" name="submit" value="Save">
    <!-- <button class="btn" type="submit" name="submit" > Save </button> -->
</form>
{% endblock %}

<!-- button 默认type是submit ，可以不用写出来。但是如果我们有两个以上的按钮，比如 delete 和 cancel ，那就要特别注明 type的类型。 -->
<!-- button可以都不写属性，直接默认，即<button> Save </button>，但是 input 就要写 type。 -->
<!-- button 写 value="Save"不起作用，只能放在两个 button之间 -->
